.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  height: 110vh;
  width: 70vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
  position: relative;
}

.Progress{
  height: 50vh;
  width: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
}

button:hover{
  cursor:pointer;
}

.chartview {
  display: flex;
  flex-direction: row;
}

.scorebox{
  background-color: white;
  color: black;
  border: 2px solid #33FFFF;
  width: 30vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box{
  background-color: white;
  color: black;
  border: 2px solid #33FFFF;
  width: 22vh;
  height: 10vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: 0;
  font-size: 18px;

}

.box:hover{
  background-color: rgb(132, 252, 252);

}

.overbox{
  background-color: rgb(132, 252, 252);
  color: black;
  border: 2px solid #33FFFF;
  width: 22vh;
  height: 10vh;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: 0;
  font-size: 18px;

}

.App-link {
  color: #61dafb;
}

.icon {
  width: 8vh;
  height: 8vh;
}

.text {
  margin-top: 1vh;
}

.button {
  width: 25vh;
  height: 10vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: 0;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid black;

}

.scoretext {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.titlebox {
  background-color: #99FFFF;
  height: 18vh;
  border: none;
  color:white;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 70vh;
  display: flex;
  flex-direction: row;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
